.card-title {
    color: #262626;
    font-size: 1.5em;
    line-height: normal;
    font-weight: 700;
    margin-bottom: 0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .small-desc {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    color: #452c2c;
  }
  
  .small-desc {
    font-size: 1em;
  }
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, #6293c8, #384c6c);
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  .card {
    display: block;
    position: relative;
    width: 300px;
    height: 320px;
    background-color: #f2f8f9;
    border-radius: 10px;
    padding: 2em 1.2em;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .card:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: linear-gradient(135deg, #364a60, #384c6c);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;
  }
  
  .card:hover:before {
    transform: scale(28);
  }
  
  .card:hover .small-desc {
    transition: all 1s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .card:hover .card-title {
    transition: all 1s ease-out;
    color: #ffffff;
  }
  .box{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis:200px;
    padding-left: 200px;
    padding-top:200px ;
    
  }
  .Slider{
    padding-left: 400px;
    
  }
  
  .imgSlider{
   
    width:300px;
    height:300px;
    background-image: url("images/1.jpg");
    background-size: 100% 100%;
    animation:changeImage 15s linear infinite;
  }
  @keyframes changeImage{
    0%{
      background-image: url("images/1.jpg");
    }
    20%{
      background-image: url("images/2.jpg");
    }
    40%{
      background-image: url("images/3.jpg");
    }
    60%{
      background-image: url("images/4.jpg");
    }
    80%{
      background-image: url("images/5.jpg");
    }
    100%{
      background-image: url("images/6.jpg");
    }
    
  }
  

  
  